body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}


/* .banner {
    height: 500px;
    background: linear-gradient(rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)),
                url('https://picsum.photos/1200/500');
    background-size: cover;
    background-position: center;
} */


.product-card {
    transition: 0.3s;
    border: none;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card img {
    height: 250px;
    object-fit: cover;
}

footer {
    margin-top: 50px;
}